*{
  background: rgb(214, 214, 214);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', 'Helvetica';
  color: black;
}
.brand{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#nav-links button li{
  padding: 5px;
  border-radius: 25%;
  list-style-type: none;
  justify-content: space-around;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  
}
.nav-buttons{
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.about .main-line{
	text-align: center;
	font-weight: bold;

}
header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 0 5% 0;
  height: auto;
  
}
header{
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}
.btn {
  position: relative;
  height: 70px;
  width: 70px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.btn:hover,
.nav-buttons:hover{
  transform: scale(1.1);
}

.btn::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover::before{
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.btn i{
  position: absolute;
  color: rgb(3, 93, 132);
  font-size: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.btn:hover i {
  font-size: 30px;
}