*{
  background: rgb(214, 214, 214);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', 'Helvetica';
  color: black;
}
.brand{
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header, nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  }

header{
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}
.btn {
  position: relative;
  height: 70px;
  width: 70px;
  margin: 20px;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.btn:hover {
  transform: scale(1.1);
}

.btn::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover::before {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.btn i {
  position: absolute;
  color: rgb(3, 93, 132);
  font-size: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.btn:hover i {
  font-size: 30px;
}